.sidebar {
    /* display: flex; */
    max-width: 100%;
    /* min-width: 300px; */
    flex-wrap: wrap;
    overflow: hidden;
    border: solid yellow    ;
}

.heading {
  /* color: #2e81f4; */
  font-size: larger;
  justify-content: center;
  font-weight: bolder;
  padding: 5px;
}

/* @media (max-width:500px) {
    .sidebar {
      display: none;
    }
  } */

