.header {
    padding: 15px 20px;
    display:flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);
    flex-wrap: wrap;
    overflow: hidden;
} 

	.headerLeft {
	    display: flex;
	    justify-content: space-evenly;
	}

.headerInput {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
    max-height: 50px;
}

.headerLeft > img{
    height: 40 px;
}



.headerInput > input{
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.headerCenter {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}

.headerOption >.MuiSvgIcon-root {
    color: gray;
}

.headerOption:hover > .MuiSvgIcon-root {
    color: #2e81f4;
}

.headerOption {
    display: flex;
    align-items: center;
    padding : 0 30px;
    cursor: pointer;
}


.headerOption:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.headerOption--active >.MuiSvgIcon-root {
    color: #2e81f4;
}

.headerOption--active > .MuiSvgIcon-root {
    border-bottom: 4px solid #2e81f4;
}


.headerInfo {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* align-items: left; */
    /* justify-content: ; */

}

.headerInfo > h4 {
    margin-left: 10px;
}


.headerRight{
    display: flex;
    /* flex: 1; */
    justify-content: right ;
}

.iconLeft {
    margin-left: 50px;
}
