/* .sidebar {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-right: 30px;
    flex-direction: row;
    border : solid red;
} */

.sidebar {
    max-width: 100%;
    /* min-width: 300px; */
    overflow: hidden;
}