.ipost {
    display: flex;
}

.photo{
    margin-left: 10px;
    margin-right: 10px;
    /* max-width: 700px ; */
    /* margin-top: 45px; */
    background-color: white;
    border: 1px solid lightgray;
    flex: 1;
    /* width: 55%; */
    /* border: solid red; */
}



.ipostImage {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

}


.ipostText {
    font-weight: normal;
    padding: 20px;
    margin-left: 5px;
}

.ipostTop {
    display: flex;
    align-items: center;
    padding: 20px;
}

.ipostAvatar {
    margin-right: 10px;
}

.ipostBottom {
    display: flex;
    /* justify-content: space-between; */
    /* padding: 10px; */
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding: 15px 25px; */
    padding-top: 10px;
    border-top: 1px solid lightgray;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}



.ipostOption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.ipostOption > p {
    margin-left: 10px;
}

.ipostOption:hover {
    background-color: #eff2f5;
    border-radius: 10px;

}

.comments {

    /* border: solid green; */
    flex : 0.5;
    width: 20%;
    /* background-color: lightgray; */
    /* max-width: 700px ; */
    /* margin-top: 45px; */
    background-color: white;
    margin-left: 10px;
}

/* .comments > p {
    font-weight: bold;
    font-size: xx-large;
} */

.comment {
    /* display: flex; */
    /* border: solid yellow; */
    align-items: center;
    margin-left: 15px;
    /* padding: 10px; */
}

.comment > h3 {
    margin-left: 8px;
}

.comment > p {
    margin-left: 5px;
}

@media (max-width:500px) {
    .ipost {
        display: inline;
    }

    .iphoto {
        margin-top: 0px;
    }

    .ipostText {
        font-size: medium;
        padding: 10px;
    }

    .comments {
        /* border: solid green; */
        flex : 1;
        /* background-color: lightgray; */
        /* max-width: 700px ; */
        justify-content: center;
        width: 90%;
        background-color: white;
        margin-left: 5px;
        margin-top: 0px;
    }

    /* .comments > p {
        font-weight: bold;
        font-size: xx-large;
    } */

    .comment {
        /* display: flex; */
        /* border: solid yellow; */
        align-items: center;
        margin-left: 8px;
        /* padding: 10px; */
    }

    .comment > h3 {
        margin-left: 8px;
        font-size: small;
    }

    .comment > p {
        margin-left: 5px;
        font-size: small;
    }
}